body{
    background-color: #0e1621;
}
.Title{
    color: white;
    margin: 0 auto;
}
li{
    color: whitesmoke;
}
.Photo{
    width: 320px;
    height: 480px;
}
.container{
    background-color: #182533;
    width: 720px;
    margin: 0 auto;
}
.DescriptionHolder{
    color: #dddddc;
    text-shadow: #dddddc5d;
    margin: 0 auto;
}
.genre{
    color: #dddddc;
    text-shadow: #dddddc5d;
}