<!DOCTYPE html>
<!-- <html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <title>My movies</title>
</head>

<body>
    <div class="ui container">
    <h1>My movies</h1>

    <form action="/add" method="post">
        <div class="field">
            <label for="title">Назва фільму</label>
            <input type="text" name="title" placeholder="Введіть назву фільму..." />
            <button type="submit">Добавити</button>
        </div>
    </form>

    {% for movie in movies %}
    <p> {{ movie.id }} | {{ movie.title }}</p>
    {% if movie.seen == False %}
    <span class="ui gray label" >Не переглянуто</span>
    {% else %}
    <span class="ui green button" >Переглянуто</span>
    {% endif %}
    <a href="/update/{{ movie.id }}">Оновити статус</a>
    {% endfor %}
    </div>
</body>
</html> -->
<html>

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
<title>Welcome to the library of my music collection</title>
</head>
<div class="ui container">
    <h1>My music</h1>

    <form action = "/add" method = "post">

    </form>

</html>