<!DOCTYPE html>
<html>
<head>
    <title>Films</title>
    <link rel="stylesheet" href='/static/styles.css' />
</head>
<body>
    {% for film in films %}
        <div class="container">
            <h2 class="Title" >{{ film.title }}</h2>
            <img class="Photo" src={{film.image_url}}>
            <div class="DescriptionHolder">{{ film.description }}</div>
            </ul>
            {{ film.trailer_url }}
            <p>Жанри: </p>
            <ul>
            {% for genre in film.genre %}
                <li class="genres">{{ genre }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</body>
</html>
