<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-16">
    <title>Films</title>
    <link rel="stylesheet" href='/static/styles.css' />
</head>
<body>
    {% for film in films %}
        <div class="container">
            <h2 class="Title" >{{ film.title }}</h2>
            <img class="Photo" src={{film.image_url}}>
            <div class="DescriptionHolder">{{ film.description }}</div>
            </ul>
            <p>Жанри: </p>
            <ul>
            {% for genre in film.genre %}
                <li class="genres">{{ genre }}</li>
            {% endfor %}
            </ul>
            <iframe width="560" height="315" src={{trailer_url}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    {% endfor %}
</body>
</html>
